<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <vendor>NetLab</vendor>

  <action id="uz.netlab.helper">
    <description>Run the NetLab interception helper</description>
    <description xml:lang="uz">NetLab ushlab qolish yordamchisini ishga tushirish</description>
    <message>NetLab needs administrator rights to send raw frames, change packet forwarding and install redirect rules for an interception engagement.</message>
    <message xml:lang="uz">NetLab'ga xom kadrlar yuborish, paket uzatishni o'zgartirish va ushlab qolish seansi uchun yo'naltirish qoidalarini o'rnatish uchun administrator huquqlari kerak.</message>
    <icon_name>netlab</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/netlab-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
